/* ------------------------------------------------------------------------ */
/* CONTAINER */

body {
	background-image: url("../img/bg.png");
	font-family: "proxima-nova", sans-serif;
	margin-top: 90px;
}

#main-container {
	margin-bottom: 100px;
}

#posting-container {
	background: white;
	border-left: 5px solid #e2e2e2;
	border-right: 5px solid #e2e2e2;
	border-bottom: 5px solid #ebeaea;
	padding: 10px 20px;
	margin: 10px 0px 20px 0px;
}

/* ------------------------------------------------------------------------ */
/* NAV */

#nav-container {
	background-color: #294360;
	border: none;
	height: 80px;
}

#logo {
	background-image: url("../img/logo.png");
	display: inline-block;
	height: 42px;
	margin: 20px 30px 0 20px;
	width: 239px;
}

@media (max-width: 768px) {

	#logo {
		background-image: url("../img/logo.png");
		background-size: 200px 35px;
		display: inline-block;
		height: 35px;
		margin: 20px 30px 0 20px;
		width: 200px;
	}

}



#search-container {
	height: 40px;
	margin: 25px 0 0;
	width: 36%;
}

#search {
	background-image: url("../img/search-icon.png");
	background-repeat: no-repeat;
	background-position: 10px 7px;
	box-shadow:none !important;
	border: none !important;
	display: none;
	font-size: 18px;
	font-weight: 700;
	padding-left: 38px;
	outline: none !important;
	margin: 10px;
	width: 405px;
}

#search-filter {
	background-color: #294360;
	padding: 20px;
	display: none;
	position: absolute;
	width: 100%;
}

.navbar-nav {
	background-color: #294360;
	color: white;
	margin-top: 18px;
}

.navbar-nav li a {

	font-size: 18px;
	font-weight: 600;
	color: white !important;
	text-transform: uppercase;

}

@media (max-width: 768px) {
  .navbar-toggle {
  	margin-top: 23px;
  }
  .navbar-collapse {
  	margin-top: 15px;
  }
  .navbar-nav {
  	margin-top: 0;
  	margin-bottom: 0;
  }
  #search {
  	width: 100%;
  }
}

@media (max-width: 991px) {
  #search {
  	width: 90%;
  }
}

/* ------------------------------------------------------------------------ */
/* COPY */

#copy {
	float: none;
	margin: 20px auto;
}

#copy2 {
	/*	
	//background-color: #d7d945;
	//background-image: url("../img/copy2-asset.png");
	//background-repeat: no-repeat;
	//background-position: bottom right;
	*/
	float: none;
	font-size: 16px;
	margin: 10px auto 20px auto;
}

#sidebar {
	padding-left: 60px;
	padding-right: 30px;
	margin-bottom: 100px;
}

@media (max-width: 991px) {
  #sidebar {
  	padding-left: 20px;
  }
}

.copy3 {
	background-color: #d9d9d9;
	padding: 20px;
	margin: 20px auto;
}

.triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #878787 transparent transparent transparent;
	margin: 0 auto;
}

/* ------------------------------------------------------------------------ */
/* NOTIF */

#notif-container {
	display: none;
	float: none;
	margin: 50px auto;
	margin-bottom: 0px;
}

.notif {
	background-color: white;
	border: 1px solid #ddd;
	color: black;
	display: none;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.notif:hover {
	color: black;
	text-decoration: none !important; 
}

/* ------------------------------------------------------------------------ */
/* msg */

#msg,#results {
	background-color: #ebeaea;
	float: none;
	min-height: 100px;
	padding: 0 13px;
	margin: 25px -16px;
}

#results {
	display: none;
}

#msg-single {
	background-color: #ebeaea;
	float: none;
	min-height: 100px;
	padding: 0 13px;
	margin: 50px auto;
}

.post {
	background: white;
	border-left: 5px solid #e2e2e2;
	border-right: 5px solid #e2e2e2;
	border-bottom: 5px solid #ebeaea;
	padding: 10px 20px;
	margin:-20px 0px 20px 0px;
}

.app-name {
	vertical-align: -3px;
	font-size: 12px;
	font-weight: 200;
	color: #777;
}

.time-container {
	height: 35px;
}

.time-asset {
	background-image: url("../img/time-container-blue.png");
	float: left;
	height: 35px;
	width: 8px;
}

.time-data {
	background-color: #5593CD;
	color: white;
	font-size: 16px;
	font-weight: 800;
	float: left;
	height: 30px;
	min-width: 20px;
	padding: 4px 13px 4px 4px;
}

.status-data {
	float: left;
	margin-top:2px;
	font-size: 19px;
	font-weight: 800;
	color: white;
}

.status-pending {
	padding: 4px 4px 4px 4px;
	background-color: #f1564a;
}

.status-expired {
	padding: 4px 4px 4px 4px;
	background-color: #797979;
}

.status-resolved {
	padding: 4px 4px 4px 4px;
	background-color: #3695ed;
}

.msg-data {
	color: #000;
	font-weight: 600;
	padding: 20px;
	padding-bottom: 0px;
}

.share-container {
	min-height: 25px;
}

.share-container .social-item {
	float: left;
	width: 90px;
}

.help{
	border: none;
	border-radius: 5px;
	background-color: #6aac43;
	color: white;
	font-weight: 800;
	font-size: 22px;
	padding: 2px 10px;
	text-transform: uppercase;
	text-decoration: none;
	margin-left:20px;
}

.help:hover, .share:hover {
	color: white;
	text-decoration: none;
}

/* ------------------------------------------------------------------------ */
/* DETAILS PAGE */

.comments-container {
	margin-top: 50px;
	height: 800px;
}

/*FACEBOOK CSS*/

.fb-comments {
    display: table;
    margin: 0 auto;
} 

/* ------------------------------------------------------------------------ */
/* FIXED SOCIAL ICONS */

.fixed-side-social-container{left:0;width:60px;position:fixed;top:190px;background-repeat:no-repeat;z-index:10}
.fixed-side-social-container .social-icon{float:left;width:60px;filter:alpha(opacity=75);moz-opacity:.75;-khtml-opacity:.75;opacity:.75;display:block;background-repeat:no-repeat;height:60px;-webkit-transition:all ease .2s;-moz-transition:all ease .2s;-o-transition:all ease .2s;-ms-transition:all ease .2s;transition:all ease .2s;background-position:0 0}
.fixed-side-social-container .social-icon{}
.fixed-side-social-container .social-icon:hover{filter:alpha(opacity=99);moz-opacity:.99;-khtml-opacity:.99;opacity:.99}
.fixed-side-social-container .linkedin-icon{background-position:0 0}
 .twitter-icon{ padding: 23px !important; margin-top: 4px; background-repeat: no-repeat; background-size:contain; background-image:url("../img/twitter-bird-dark-bgs.png")}
 .facebook-icon{padding: 15px !important; margin-top: 12px;  background-repeat: no-repeat; background-size:contain; background-image:url("../img/FB-f-Logo__white_29.png")}
.fixed-side-social-container .google-icon{background-position:0 -186px}

@media (max-width: 768px) {

	.fixed-side-social-container {
		display: none;
	}

	.urp-no-hide {
		display: none !important;
	}

}