/* ------------------------------------------------------------------------ */
/* SEARCH */

#search {
	width: 500px;
}

/* ------------------------------------------------------------------------ */
/* THE POST */

.post {
	border: 1px solid #ddd;
	margin: 0 0 20px 0;
	padding: 10px;
	word-wrap:break-word;
}

/* ------------------------------------------------------------------------ */
/* NOTIF */

.notif {
	background-color: #ddd;
	border: 1px solid #ddd;
	color: black;
	display: none;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.notif:hover {
	color: black;
	text-decoration: none !important; 
}