/* ------------------------------------------------------------------------ */
/* CONTAINER */

body {
	background-image: url("../img/bg.png");
	margin-top: 90px;
}

/*---------------------------------------------------------------------------*/
/* MESSAGE CONTAINER */
.message{
	border-bottom: 1px solid #eee;
	padding-top: 20px;
	cursor: pointer;
}

#message-list {
	background: #d9d9d9;
	border-left: 3px solid rgba(189,189,189,0.7);
	border-top: 2px solid rgba(189,189,189,0.7);
	height: 555px;
	margin-top: 10px;
	overflow-y: scroll;
}

#chat-box {
	border-top: 2px solid rgba(189,189,189,0.1);
	margin-top: 10px;
	padding: 0 !important;
	background: #e9e9e9;
}
#load_more{
	padding: 10px 20px;
	box-sizing: border-box;
	background-color: #B9B2B2;
	font-size: 26px;
	color: rgb(66, 63, 63);
	cursor: pointer;
}

/*--------------------------------------------------------------------------*/
/* CHAT BOX */

#conversation {
	background: #e9e9e9;
	height: 435px;
	overflow-y: scroll;
}

#message-input {
	height: 84px;
	overflow-y: auto;
}

#form-message {
	width: 91%;
	height: 84px;
	float: left;
	resize: none;
}

#send {
	padding: 0px;
	width: 7%;
	height:84px;
}

#conversation {
	padding:20px 20px 0px 20px ;
}


.expanded-message-right{
	text-align: right;
}
.expanded-message-left{
	text-align: left;
}
/* ------------------------------------------------------------------------ */
/* NAV */

#nav-container {
	background-color: #294360;
	border: none;
	height: 80px;
}

#logo {
	background-image: url("../img/logo.png");
	display: inline-block;
	height: 42px;
	margin: 20px 30px 0 20px;
	width: 239px;
}

@media (max-width: 768px) {

	#logo {
		background-image: url("../img/logo.png");
		background-size: 200px 35px;
		display: inline-block;
		height: 35px;
		margin: 20px 30px 0 20px;
		width: 200px;
	}

}

.navbar-nav {
	background-color: #294360;
	color: white;
	margin-top: 18px;
}

.navbar-nav li a {

	font-size: 18px;
	font-weight: 600;
	color: white !important;
	text-transform: uppercase;

}

@media (max-width: 768px) {
  .navbar-toggle {
  	margin-top: 23px;
  }
  .navbar-collapse {
  	margin-top: 15px;
  }
  .navbar-nav {
  	margin-top: 0;
  	margin-bottom: 0;
  }
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus  {
	background-color: #294360;
}
.dropdown-menu{
	background-color: #294360;
	border: 1px solid transparent;
}
.dropdown-menu li{
	display: block;
	color: rgb(241, 234, 234);
	text-align: right;
	padding: 4px 14px;
	font-size: 18px;
	cursor: pointer;
}
/* -------------------------------------------------------------------------*/
/* SEARCH */
#search {
	background-image: url("../img/search-icon.png");
	background-repeat: no-repeat;
	background-position: 10px 7px;
	box-shadow:none !important;
	border: none !important;
	font-size: 18px;
	font-weight: 700;
	padding-left: 38px;
	outline: none !important;
	width: 330px;
	margin-top:10px;
}

.checkbox{
	display: inline-block;

}

.checkbox+.checkbox{
	margin-top: 10px;
	margin-left: 5px;
}

/*-------------------------------------------------------------------------*/
/* LOGIN */
#login-container {
	background-color: #294360;
	margin-left:auto;
	margin-right:auto;
	width:30%;
	height: 300px;
	border-radius: 5%;
	padding: 20px;
}

#logo-login {
	background-image: url("../img/logo.png");
	display: inline-block;
	height: 42px;
	width: 239px;
	margin: 0% 15% 10% 15%;
}

#login {
	margin-top: 10%;
	width:350px;
	font-size: 18px;
	font-weight: 900;
}